<div class='info' id='api_info'>
  {{#if info}}
  <div class="info_title">{{info.title}}</div>
  <h2 data-toggle="collapse" data-target="#info_description">
    <span type="button" class="glyphicon glyphicon-triangle-right" aria-hidden="true" ></span>
    Overview
  </h2>
  <div class="info_description collapse in" id="info_description">{{{info.description}}}
  {{#if info.termsOfServiceUrl}}<div class="info_tos"><a href="{{info.termsOfServiceUrl}}">Terms of service</a></div>{{/if}}
  {{#if info.contact}}<div class='info_contact'><a href="mailto:{{info.contact.name}}">Contact Looker</a></div>{{/if}}
  {{#if info.license}}<div class='info_license'><a href='{{info.license.url}}'>{{info.license.name}}</a></div>{{/if}}
  {{/if}}
  </div>
</div>
<div id='resources_container'>
  <ul id='resources'></ul>

  <div class="footer">
    <br>
    <br>
    <h4 style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{basePath}}
    {{#if info.version}}
    , <span style="font-variant: small-caps">api version</span>: {{info.version}}
    {{/if}}]
    {{#if validatorUrl}}
    <span style="float:right"><a href="{{validatorUrl}}/debug?url={{url}}"><img id="validator" src="{{validatorUrl}}?url={{url}}"></a>
    </span>
    {{/if}}
    </h4>
    </div>
</div>
